# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/

# Turborepo
.turbo/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
Thumbs.db

# Prisma
apps/api/prisma/migrations/dev.db*

# Coverage / test
coverage/

# TypeScript incremental build info
*.tsbuildinfo
